<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suites" verbose="1" >
    <test name="testng" >
        <classes>
            <class name="tests.LoginTestSeeker" />
            <class name="tests.RegistrationTestsEmployer"/>
            <class name="tests.LoginTestEmployer"/>
            <class name="tests.RegistrationTestsSeeker"/>
            <class name="tests.CreateCv"/>

        </classes>
    </test>

</suite>
